

header{
    /* height: 100px; */
    background-color: orange;

    .inner{
        width: 1000px;
        height: 100px;
        background-color: greenyellow;
        margin: 0 auto;
    }
}

.visual{
    height: 300px;
    margin-bottom: 20px;
    background-color: dodgerblue;
}

.container{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.contents{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    > li{
        width: 350px;
        height: 200px;
        background-color: hotpink;

        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(5){
            background-color: orange;
        }
    }
}

/* 
flex     -> 자식요소를 가로배치
position -> 내 위치를 잡기 위해
*/

.container aside{
    width: 300px;
    height: 700px;
    background-color: greenyellow;
    position: absolute;
    right: 0;
    top: -100px;
    /* bottom: 0; */
}

footer{
    height: 50px;
    background-color: gray;
}