
.container{
    width: 70vw;
    margin: 0 auto;
}

header{
    height: 100px;
    margin-bottom: 20px;
    background-color: hotpink;
    position: relative;

    > div{
        width: 100px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: rgba(255,255,255,0.5);

        &:last-child{
            width: 50px;
            left: auto;
            right: 0;
            background-color: skyblue;
        }
    }

}

.visual{
    height: 300px;
    display: flex;
    margin-bottom: 20px;

    > li {
        width: 50%;
        background-color: dodgerblue;

        &:last-child{
            background-color: orange;
        }
    }
}

.list_box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    > li{
        flex-basis: 200px;
        height: 50px;
        background-color: skyblue;
    }
}

footer{
    height: 100px;
    background-color: gray;
}

